<section id="listings-forms">
  <div class="showcase"></div>
  <%# <hr> %>
  <div class="container">

    <div class="left">
      <div id="target"></div>
    </div>

    <div class="right">
      <%= form_with(model: listing) do |form| %>
        <% if listing.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(listing.errors.count, "error") %> prohibited this listing from being saved:</h2>

            <ul>
              <% listing.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="group">
          <div class="field title">
            <%= form.label :title %>
            <%= form.text_field :title %>
          </div>

          <div class="field price">
            <%= form.label :price %>
            <%= form.number_field :price %>
          </div>
        </div>

        <div class="description-color-brand">
          <div class="field text-area-field">
            <%= form.label :description %>
            <%= form.text_area :description %>
          </div>

          <div class="color-brand">
            <div class="field">
              <%= form.label :color %>
              <%= form.text_field :color, class:"text_field" %>
            </div>

            <div class="field">
              <%= form.label :brand %>
              <%= form.text_field :brand %>
            </div>
          </div>
        </div>

        <div class="sex-features-conditions">
          <div class="sex">
            <h4>Sex</h4>
            <div class="sex-btn">
              <% sex.each do |option| %>
                <%= form.label :sex, option.capitalize, class:"form-label" %>
                <%= form.radio_button :sex, option, class:"radio-button" %>
              <% end %>
            </div>
          </div>
          
          <%# <hr> %>
          <div class="field features">
            <h4>Features</h4>
            <div class="features-content">
              <%= form.collection_check_boxes :feature_ids, features, :id, :name, include_hidden: false %>
            </div>
          </div>

          <%# <hr> %>
          <div class="conditions">
            <h4>Condition</h4>
            <div class="conditions-content">
              <% conditions.each do |option| %>
                <%= form.label :condition, option.capitalize, class:"form-label" %>
                <%= form.radio_button :condition, option, class:"radio-button" %>
              <% end %>
            </div>
          </div>
        </div>

        <div class="size-category">
          <div class="field">
            <%= form.label :size %>
            <%= form.select :size, sizes.map {|size| size } %> 
          </div>

          <div class="field">
            <%= form.label :category_id %>
            <%= form.select :category_id, categories.map {|cat| [cat.name, cat.id] } %>
          </div>
        </div>
    

        <div class="field picture">
          <%=form.label :picture, class:'form-label'%>
          <%=form.file_field :picture, accept: 'image/png,image/jpg,image/jpeg', class:'form-control-file', type:'file', id:'pictureInput'%>
          <small class='form-text text-muted'> PNG, JPG, or JPEG only</small>
        </div>

        <div class="actions">
          <%= form.submit class:"submit-btn"%>
          <%= link_to 'Cancel', listings_path, class:"cancel-btn", method: :get %>
        </div>

      <% end %>
    </div>

  </div>



</section>

