<section id="listings-index">

<% if notice == nil%>
  <p id="notice" class="display-none"><%= notice %></p>
<%else%>
  <p id="notice"><%= notice %></p>
<%end%>

  <div class="showcase"></div>

  <div class="container">
    <div class="side-search">hello
    </div>

    <div class="listings-wrapper">
      <% @listings.each do |listing| %>
        <div class="listing">
            <%if listing.picture.attached?%>
              <%# <%=image_tag listing.picture, class:"img"%> 
              <%= link_to image_tag(listing.picture, class:"img"), listing %>
            <%else%>
              <%=image_tag "ky-jersey.jpg", alt: "Kyrie Nets Jersey", class:"img"%>
            <%end%>
      
          <div class="title-price">
            
              <strong><%= listing.title %></strong>
              <%# <%= listing.price %>
              <div class="price-view-btn">
                <p>
                  <%if current_user && listing.purchased == false%>
                      <button data-stripe='payment' data-session-id=<%=@session_id%> data-public-key=<%=Rails.application.credentials.dig(:stripe, :public_key)%> class='btn pay-btn'> Buy: $<%=listing.price%></button>
                  <%elsif listing.purchased == true%>
                      <button class="btn" disabled>SOLD</button>
                  <%else%>
                      <%= button_to "Login to buy ", new_user_session_path, class:"btn"%>
                  <%end%>
                </p>
                <%# <p><button class="btn">View More</button></p> %>
                <p><button class="btn view-more-btn"><%= link_to "View More", listing%></button></p>
            </div>
          </div>
        </div>
      <%end%>
    </div>

  </div>





</section>

<%= javascript_include_tag "https://js.stripe.com/v3/" %>
<%= javascript_pack_tag "stripe-button"%>