<section id="devise-new">
  <h2 class="account">Account</h2>
  <div class="container">
    <%# <h2>Log in</h2> %>
    <%# <h2>Account</h2> %>

    <div class="content-wrapper">
      <div class="left-sign-up">
        <h4>New here?</h4>
        <p>Registration is free and easy!</p>
        <p><%= image_tag "tick.png", class:'tick' %>Create multiple listings</p>
        <p><%= image_tag "tick.png", class:'tick' %>Buy and sell multiple listings</p>
        <p><%= image_tag "tick.png", class:'tick' %>Edit own listings</p>

        <div class="btn-div">
          <%= link_to "CREATE AN ACCOUNT", new_user_registration_path, method: :get, class:'create-btn'%>
        </div>
        
      </div>

      <div class="right-sign-in">

        <h4>Already registered?</h5>

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <%= f.label :email %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>

          <div class="field">
            <%= f.label :password %>
            <%= f.password_field :password, autocomplete: "current-password" %>
          </div>

          <div class="remember-me">
            <% if devise_mapping.rememberable? %>
              <div class="field">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              </div>
            <% end %>
          </div>

          <div class="actions">
            <%= f.submit "SIGN IN" %>
          </div>
          <%= render "devise/shared/links" %>
        <% end %>


      </div>
    </div>
  </div>


</section>



